name: CI Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name != 'master' && github.ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  required:
    name: "Required Checks: Test"
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
      - test

    steps:
      - id: status
        name: Determine status
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            result="failed"
          else
            result="success"
          fi
          {
            echo "result=${result}"
            echo "results=${results}"
          } | tee -a "$GITHUB_OUTPUT"

      - if: always() && steps.status.outputs.result != 'success'
        name: Check for failed status
        run: |
          echo "One or more required build workflows failed: ${{ steps.status.outputs.results }}"
          exit 1

  build:
    name: Build CNVX
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: cargo build --workspace --all-targets

  lint:
    name: Lint CNVX
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: Check formatting
        run: cargo fmt --workspace --all -- --check

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate: [cnvx, cnvx-cli, cnvx-core, cnvx-lp, cnvx-math]
    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache cargo build
        uses: actions/cache@v3
        with:
          path: target
          key: cargo-target-${{ hashFiles('**/Cargo.lock') }}-${{ matrix.crate }}
          restore-keys: cargo-target-${{ hashFiles('**/Cargo.lock') }}-

      - name: Run tests
        run: cargo test -p ${{ matrix.crate }}
